<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
      <div class="db">
        <p class="img"><%= profile_img(user) %><p>
        <%= user.email %>
        <%= render 'follow_form', user: user %>
        <%= link_to user.name, user_path(user) %>
      </div>
      <br>
  <% end %>
</div>
