<h1>お問合せありがとうございます</h1>

<h4>name:
    <%= @contact.name %></h4>
<p>email:
    <%= @contact.email %></p>
<p>content:
        <%= @contact.content %></p>

<p>
    <%= link_to 'ブログ一覧へ', blogs_path %>
</p>
