// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user{
  font-size: 1.4em;
}
h1{
  font-size: 1.8em;
}
.list{
  list-style-type: none;
}
.db{
  display: block;
  border-top: 1px solid #ccc;
}
.img{
  width: 100px;
  height: 80px;
  text-align: center;
  display: block;
  margin: 20px 0 20px 50%;
}
.db img{
  width: 100%;
  height: auto;
  margin-left: -100px;
}
